.GameGrid {
    border-width: 5px;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid rgb(189, 188, 188);
    font-size: 14px;
    width: 30px;
    height: 30px;
}
