td {
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: lightyellow;
}

.not-clickable {
    cursor: default;
}

.highlighted {
    background-color: greenyellow;
}
